-- Check employee by ID (the one from the QR scan)
SELECT * FROM employees WHERE id = 'a3afcd55-2dbc-479c-9a32-9e2dc16d4deb';

-- Check employee by QR code (in case the QR code is different from the ID)
SELECT * FROM employees WHERE qr_code = 'a3afcd55-2dbc-479c-9a32-9e2dc16d4deb';

-- Check all employees to see the structure and some sample data
SELECT id, name, email, qr_code, department, position FROM employees LIMIT 10;

-- Check if there are any employees with similar patterns
SELECT id, name, email, qr_code, department, position 
FROM employees 
WHERE id LIKE '%a3afcd55%' OR qr_code LIKE '%a3afcd55%';

-- Count total employees in the database
SELECT COUNT(*) as total_employees FROM employees;
